:root {
    --first-color: #c580e3;
    --second-color: #571872;
    --third-color: #721869;
    --fourth-color: #16061d;
    --text-light-theme: #222;
    --text-dark-theme: #eee;
    --disabled: #721821;
    --enabled: #187233;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Alexandria", sans-serif;
}

.bg-dark-page {
    background-color: var(--first-color);
    color: var(--text-light-theme);
}

.main-title {
    text-align: center;
    font-size: 4rem;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-light-theme);
    transition: all 0.2s ease-out;
}

.link:hover {
    color: var(--text-dark-theme);
}

.back-nav {
    text-align: center;
    margin: 2rem;
}

.back-link {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: var(--third-dark-theme);
    transition: all 0.2s ease-out;
}

.back-link:hover {
    color: var(--first-color);
    background-color: var(--fourth-color);
}
